.App {
  display: flex;
  align-items: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin 3s infinite;
}

@keyframes App-logo-spin {
  to {
    transform: translateX(calc(100vw - 282px));
  }
}
